
<div class="container">

    <div class="col-lg-4" id="courseSearchId" data-intro-group="addCourse" >
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search by title.." ng-model="search.title" maxlength="20">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="col-lg-8"></div>


    <div class="row">
        <div class="col-lg-8" id="courseTableId" data-intro-group="addCourse" >
            <table  data-hint="This is a table of all courses, here you can delete or edit course!" data-hintPosition="top-left">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Label</th>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Department</th>
                    <th>OS</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="course in courses | filter:search">
                    <td style="max-width: 80px; overflow-wrap: break-word;"> <a ui-sref="course-detail({id:course.id})" data-hint="By clicking on the ID you will be forwarded to the page, where you will be able to make changes on this specific item!" data-hintPosition="top-left">{{course.id}} </a></td>
                    <td>{{course.label}}</td>
                    <td style="max-width: 150px; overflow-wrap: break-word;">{{course.title}}</td>
                    <td>{{course.duration}}min</td>
                    <td>{{course.department.id}}</td>
                    <td>{{course.os}}</td>
                    <td><button class="btn btn-danger" ng-click="vm.deleteCourse(course)" ng-show="vm.checkDeleteCourse(course)" type="submit">delete</button></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-lg-4" id="courseAddId" data-intro-group="addCourse">
            <div class="wrapper">
                <form name="AddForm" ng-submit="vm.addCourse()">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myAppLabel">Add New Course</h4>
                    </div>
                    <div class="modal-body">
                        <jhi-alert-error></jhi-alert-error>

                        <div class="form-group" >
                            <label class="control-label">ID</label>
                            <input type="text" class="form-control" name="label" id="field_id" ng-model="course.id" minlength="4" maxlength="10" required/>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Label</label>
                            <input type="text" class="form-control" name="label" id="field_label" ng-model="course.label" minlength="2" maxlength="6" required/>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input type="text" class="form-control" name="title" id="field_title" ng-model="course.title" minlength="5" maxlength="30" required/>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Department</label>
                            <div class="selectContainer">
                                <select class="form-control" ng-model = "course.department.id" name="size" ng-options="dep for dep in department_options" required>

                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label">Duration</label>
                            <div class="selectContainer">
                                <select class="form-control" ng-model= "course.duration" name="size" ng-options="dur for dur in durationOptions" required>

                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label">OS</label>
                            <div class="selectContainer">
                                <select class="form-control" ng-model= "course.os" name="size" ng-options="os for os in os_options" required>

                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">

                        <button type="submit" ng-submit="vm.addCourse()" class="btn btn-primary">
                            <span class="glyphicon"></span>&nbsp;<span>Add</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
	if(localStorage.getItem("tutorijal") == "hint") {
		courseHint();
	} else  {
		addCourseGuide();
	}	
</script>
