
<div class="container">


    <div class="col-lg-4" data-step="3" data-intro="Create.." data-intro-group="addDepartment" data-hint="This is search bar, you can search by title or typing first two letter!" data-hintPosition="top-left">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search by title.." ng-model="search.title" ng-maxlength="20" maxlength="20">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
        </div>
    </div>

    <div class="col-lg-8"></div>




    <div class="row">
        <div class="col-lg-8" data-step="1" data-intro="Create.." data-intro-group="addDepartment">
            <table data-hint="This is a table of all departments, here you can delete or edit department!" data-hintPosition="top-left">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Starting Date</th>
                    <th>Description</th>
                    <th>Color</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="department in departments | filter:search">
                    <td>  <a ui-sref="department-detail({id:department.id})" data-hint="By clicking on the ID you will be forwarded to the page, where you will be able to make changes on this specific department!" data-hintPosition="top-left">{{department.id}} </a></td>
                    <td>{{department.title}}</td>
                    <td>{{department.date}}</td>
                    <td>{{department.description}}</td>
                    <td><span style="background-color: {{department.color}}; height: 16px; width: 30px; display: inline-block;"></span></td>

                    <td><button class="btn btn-danger" ng-click="vm.deleteDepartment(department)" ng-show="vm.checkDeleteDepartment(department)" type="submit">delete</button></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-lg-4" data-step="2" data-intro="Create.." data-intro-group="addDepartment">
            <div class="wrapper">
                <form name="AddForm" ng-submit="vm.newDepartment()" data-hint="Here you can add new Department, just follow the steps and be specific about Department ID!" data-hintPosition="top-left">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myAppLabel">Add New Department</h4>
                    </div>
                    <div class="modal-body">
                        <jhi-alert-error></jhi-alert-error>

                        <div class="form-group">
                            <label class="control-label">ID</label>
                            <input type="text" class="form-control" name="id" id="field_id" ng-model="department.id" minlength="2" maxlength="4" required/>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input class="form-control" type="text"  ng-model="department.title" ng-minlength="4" ng-maxlength="60" maxlength="60" required>
                        </div>

                        <br>

                        <button colorpicker class="btn btn-primary" type="button" colorpicker-position="top" ng-model="department.color">Pick Color</button>

                        &nbsp; &nbsp; {{ department.color }}
                        <span style="background-color: {{department.color}}; height: 16px; width: 30px; display: inline-block;"></span>

                        <br>
                        <br>

                        <div class="form-group">
                            <label class="control-label">Date</label>
                            <input class="form-control" type="text" ng-model="department.date" placeholder="date" id="datepicker1" maxlength="10">
                        </div>


                        <div class="form-group">
                            <label class="control-label">Description</label>

                            <textarea class="form-control" type="text" ng-model="department.description" rows="7" cols="40" style="min-width: 270px; max-width: 300px; min-height: 50px; max-height: 300px;" minlength="10" maxlength="255" required></textarea>
                        </div>

                    </div>


                    <div class="modal-footer">

                        <button type="submit" ng-submit="vm.newDepartment()" class="btn btn-primary">
                            <span class="glyphicon"></span>&nbsp;<span>Add</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
	addDepartmentGuide();
	departmentHint();
</script>


<script type="text/javascript">
    $( function() {
        $( "#datepicker1" ).datepicker();
    } );
</script>