
<div class="container">


    <div class="col-lg-4">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search by title.." ng-model="search.title" ng-maxlength="20" maxlength="20">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
        </div>
    </div>

    <div class="col-lg-8"></div>




    <div class="row">
        <div class="col-lg-8">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Color</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="department in departments | filter:search">
                    <td>{{department.id}}</td>
                    <td>{{department.title}}</td>
                    <td><span style="background-color: {{department.color}}; height: 16px; width: 30px; display: inline-block;"></span></td>

                    <td><button class="btn btn-danger" ng-click="vm.deleteDepartment(department)" ng-show="vm.checkDeleteDepartment(department)" type="submit">delete</button></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <form name="AddForm" ng-submit="vm.newDepartment()">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myAppLabel">Add New Department</h4>
                    </div>
                    <div class="modal-body">
                        <jhi-alert-error></jhi-alert-error>

                        <div class="form-group">
                            <label class="control-label">ID</label>
                            <input type="text" class="form-control" name="id" id="field_id" ng-model="department.id" minlength="2" maxlength="4" required/>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input class="form-control" type="text"  ng-model="department.title" ng-minlength="4" ng-maxlength="60" maxlength="60" required>
                        </div>

                        <br>

                        <button colorpicker class="btn btn-primary" type="button" colorpicker-position="top" ng-model="department.color">Pick Color</button>

                        &nbsp; &nbsp; {{ department.color }}
                        <span style="background-color: {{department.color}}; height: 16px; width: 30px; display: inline-block;"></span>


                    </div>
                    <div class="modal-footer">

                        <button type="submit" ng-submit="vm.newDepartment()" class="btn btn-primary">
                            <span class="glyphicon"></span>&nbsp;<span>Add</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


<style>

    body {
        background: #eee !important;
    }

    .wrapper {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .form-signin {
        max-width: 380px;
        padding: 15px 35px 45px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 30px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


</style>

<style>


    @import url(https://fonts.googleapis.com/css?family=Patua+One|Open+Sans);
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        /*background: #353a40;*/
    }

    table {
        border-collapse: separate;
        background: #fff;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin: 50px auto;
        -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }

    thead {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    thead th {
        font-family: 'Patua One', cursive;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
        text-align: left;
        padding: 20px;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0NmY3ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRhNTU2NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #4a5564));
        background-image: -moz-linear-gradient(#646f7f, #4a5564);
        background-image: -webkit-linear-gradient(#646f7f, #4a5564);
        background-image: linear-gradient(#646f7f, #4a5564);
        border-top: 1px solid #858d99;
    }
    thead th:first-child {
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    thead th:last-child {
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
    }

    tbody tr td {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #5f6062;
        font-size: 13px;
        padding: 20px 20px 20px 20px;
        border-bottom: 1px solid #e0e0e0;
    }

    tbody tr:nth-child(2n) {
        background: #f0f3f5;
    }

    tbody tr:last-child td {
        border-bottom: none;
    }
    tbody tr:last-child td:first-child {
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    tbody tr:last-child td:last-child {
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }


</style>