<form editable-form name="editableForm" onaftersave="saveCourse()">
    <div class="container">
        <div class="row" style="margin: 0px">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                <div class="panel panel-info">
                    <div class="panel-heading" style="height: 30px ;padding-top: 8px">
                        <h3 class="panel-title" >Course Details</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="margin: 0px">
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/images/gear.png" class="img-circle img-responsive"></div>

                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information" style="margin: 0px; box-shadow: none; -webkit-box-shadow: 0px;">
                                    <tbody>
                                    <tr>
                                        <td>ID:</td>
                                        <td>{{ course.id }}</td>
                                    </tr>
                                    <tr>
                                        <td>Label:</td>
                                        <td><span editable-text="course.label" e-minlength="2" e-maxlength="6" e-required>{{course.label}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>Title:</td>
                                        <td> <span editable-text="course.title" e-minlength="5" e-maxlength="30" e-required>{{course.title}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>Description:</td>
                                        <td><span editable-textarea="course.description" e-rows="7" e-cols="40" e-style="min-width: 100px; max-width: 200px; min-height: 50px; max-height: 400px;" e-minlength="10" e-maxlength="255" e-required>{{course.description}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>Duration (minutes):</td>
                                        <td>{{course.duration}}</td>
                                        <!--<td> <span editable-select="course.duration" e-name="status" e-ng-options="duration for duration in durationOptions">{{course.duration}} </span></td>-->
                                    </tr>
                                    <tr>
                                        <td>Department:</td>
                                        <td> <span editable-select="course.department.id" e-name="status" e-ng-options="depart.id as depart.id for depart in departments"> {{course.department.id}}</span>  </td>
                                    </tr>
                                    <tr>
                                        <td>OS:</td>
                                        <td>{{course.os}} </td>
                                        <!--<td> <span editable-select="course.os" e-name="status" e-ng-options="os for os in os_options">{{course.os}}</span>  </td>-->
                                    </tr>
                                    <tr>
                                        <td>Group Size (students):</td>
                                        <td> <span editable-select="course.groupSize" e-name="status" e-ng-options="gsize for gsize in groupSize">{{course.groupSize}} </span> </td>
                                    </tr>
                                    <tr>
                                        <td>Number Of Terms:</td>
                                        <td> <span editable-select="course.numberOfTerms" e-name="status" e-ng-options="term for term in numberOfTerms">{{course.numberOfTerms}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>Projector:</td>
                                        <td>
                                            <span ng-if="course.projectorNeed"> <span editable-select="course.projectorNeed" e-name="status" e-ng-options="opt.value as opt.text for opt in yesNo">yes</span></span>
                                            <span ng-if="!course.projectorNeed"> <span editable-select="course.projectorNeed" e-name="status" e-ng-options="opt.value as opt.text for opt in yesNo">no</span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Table:</td>
                                        <td>
                                            <span ng-if="course.basicTableNeed"><span editable-select="course.basicTableNeed" e-name="status" e-ng-options="opt.value as opt.text for opt in yesNo">yes</span></span>
                                            <span ng-if="!course.basicTableNeed"><span editable-select="course.basicTableNeed" e-name="status" e-ng-options="opt.value as opt.text for opt in yesNo">no</span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Smart Table:</td>
                                        <td>
                                            <span ng-if="course.smartTableNeed"><span editable-select="course.smartTableNeed" e-name="status" e-ng-options="opt.value as opt.text for opt in yesNo">yes</span></span>
                                            <span ng-if="!course.smartTableNeed"><span editable-select="course.smartTableNeed" e-name="status" e-ng-options="opt.value as opt.text for opt in yesNo">no</span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Software:</td>
                                        <td><span editable-select="course.softwareNeed.id" e-name="status" e-ng-options="soft.id as soft.title for soft in softwares">{{course.softwareNeed.title}}</span></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <br>
                                <br>

                                <button type="button" class="btn btn-info pull-right" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                                    Edit
                                </button>

                                <!-- buttons to submit / cancel form -->
                                <span ng-show="editableForm.$visible">
                                    <button type="submit" class="btn btn-primary pull-right" ng-disabled="editableForm.$waiting">
                                      Save
                                    </button>
                                    <button type="button" class="btn btn-default pull-right" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                                      Cancel
                                    </button>
                                </span>
                                <br>
                                <br>

                            </div>

                        </div>
                        <div class="panel-footer" ng-if="vm.previousState != 'course-detail'">
                            <div>
                                <button type="submit"ui-sref="{{ vm.previousState }}"class="btn btn-info">
                                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>
