
<!--<div class="container">-->
    <!--<div class='my-legend' style="padding: 0px;">-->
        <!--<div class='legend-title'>Course Department</div> {{roomsCount}}-->
        <!--<div class='legend-scale'>-->
            <!--<ul class='legend-labels' ng-repeat="depart in departments" style="float: none;">-->
                <!--<li><span style="background: {{depart.color}};"></span>{{depart.id}}</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="typesDemo text-center">
    <div ng-repeat="day in days" class="col-lg-2" data-step="1" data-intro="Weeks...">
        <h4 data-step="2" data-intro="Choose day.." data-hint="This is a tooltip!" data-hintPosition="top-middle"> <a ui-sref="day({id:day.id})" style="color: #ec5a20">{{ day.id }}</a> </h4>
        <div ng-repeat="item in day.timePeriodList" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>{{item.time}}</b></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div ng-repeat="classroom in item.classrooms" style="display: inline-block; width: 20%; text-align: center;" ng-if="vm.checkSettings(classroom.classroom)">

                                <span style="font-size: 11px; color: darkgrey">{{classroom.classroom}}</span>

                                <ul dnd-list="classroom.course" style="min-height: 15px;">
                                    <li ng-repeat="course in classroom.course"
                                        style="background-color: #{{course.department.color}}">
                                        <div class="name">
                                            <div class="item">{{course.label}}</div>
                                            <span class="pull-center text-muted small" style="font-size: 70%"><em>{{course.department.id}}</em> </span>
                                        </div>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>