

<div class="container" data-step="1" data-intro="Create.." data-intro-group="settings"  data-hint="Settings hint.." data-hintPosition="top-middle">

    <p style="font-size: 13px;"><b> Choose classrooms to display:</b> </p>

    <label ng-repeat="(room,enabled) in classrooms" >
        <ul style="list-style: none;">
            <li><input type="checkbox" ng-model="classrooms[room]" /> {{room}}</li>
        </ul>


    </label>
    <div ng-if="minimum == false"><p style="color: red"> You must select exactly 5 classrooms! </p></div>

    <br> <br>
    <p style="font-size: 13px;"> <b> Delete all data: </b> </p>
    <button class="btn btn-danger" ng-click="vm.deleteAllData()"  type="submit" data-step="2" data-intro="Deletee.." data-intro-group="settings" >Confirm</button>
	<script type="text/javascript">
		console.log("USAO SETTINGS");
		settingsGuide();
		settingsHint();
	</script>


</div>

