

<div class="container">
	<script type="text/javascript">
		settingsGuide();
	</script>

    <p style="font-size: 13px;"><b> Choose classrooms to display:</b> </p>

    <label ng-repeat="(room,enabled) in classrooms" data-step="1" data-intro="Create.." data-intro-group="settings">
        <ul style="list-style: none;">
            <li><input type="checkbox" ng-model="classrooms[room]" /> {{room}}</li>
        </ul>


    </label>
    <div ng-if="minimum == false"><p style="color: red"> You must select exactly 5 classrooms! </p></div>

    <br> <br>
    <p style="font-size: 13px;"> <b> Delete all data: </b> </p>
    <button class="btn btn-danger" ng-click="vm.deleteAllData()"  type="submit" data-intro="Create..">Confirm</button>


</div>

