
<div class="container">
    <h2>{{entity.day}}</h2>
    <hr>
    <div class="typesDemo row">
            <div class="col-lg-8">
                <div ng-repeat="item in lists">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{item.time}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div ng-repeat="class in item.classrooms" style="display: inline-block; width: 20%; text-align: center ">

                                    <span ng-if="class.allowedTypes[0] == 'linux'" style="color: #8daefc"> {{class.classroom}} </span>

                                    <span ng-if="class.allowedTypes[0] == 'windows'" style="color: #6cff61"> {{class.classroom}} </span>

                                    <span ng-if="class.allowedTypes[0] == 'cross'" style="color: #ff6e09"> {{class.classroom}} </span>

                                    <ul dnd-list="class.course"
                                        dnd-disable-if="class.course.length >= class.max"
                                        dnd-allowed-types="class.allowedTypes"
                                        dnd-inserted="logListEvent('inserted1 at', index, external, type, class.classroom, $parent.item.time, $parent.item.ordertime)">

                                        <li ng-repeat="course in class.course"
                                            dnd-draggable="course"
                                            dnd-type="course.os"
                                            dnd-disable-if="course.os == 'unknown'"
                                            dnd-moved="class.course.splice($index, 1)"
                                            dnd-selected="selected = course"
                                            dnd-dragstart="logEvent('Started to drag an item', course)"

                                            class="background-{{course.os}}">

                                            <div class="name">
                                                <div class="item">{{course.label}}</div>
                                                <span class="pull-left text-muted small"><em>{{course.department.id}}</em> </span>
                                                <span class="pull-right text-muted small"><em>{{course.os}}</em> </span>
                                            </div>

                                        </li>

                                        <li class="dndPlaceholder">
                                            Drop any <strong>{{class.allowedTypes.join(' or ')}}</strong> here
                                        </li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <div class="col-lg-4">
            <div class="fixedElement">
                <br>
                <div class="btn-group" data-toggle="buttons">
                    <div class='my-legend' style="padding-bottom: 0px;">
                        <div class='legend-title'>Auto complete - based on course duration</div>
                        <div style="font-size: 10px;">
                            <input type="radio" ng-model=autocomplete ng-value=autocompleteOptions[0]> ON
                            &nbsp;
                            <input type="radio" ng-model=autocomplete ng-value=autocompleteOptions[1]> OFF
                        </div>
                    </div>

                </div>

                <div class="trashcan box box-grey box-padding">
                    <!-- If you use [] as referenced list, the dropped elements will be lost -->
                    <h3>Trashcan</h3>
                    <ul dnd-list="[]"
                        dnd-inserted="logListEvent('inserted1 at', index, external, type, class.classroom, $parent.item.time, $parent.item.ordertime)">
                        <li><img src="images/trash3.png"> Throw trash here..</li>
                    </ul>
                </div>


                <div class='my-legend'>
                    <div class='legend-title'>Colors indicates types of classroom based on supported OS</div>
                    <div class='legend-scale'>
                        <ul class='legend-labels'>
                            <li><span style='background:#8daefc;'></span>linux</li>
                            <li><span style='background:#6cff61;'></span>windows</li>
                            <li><span style='background:#ff6e09;'></span>cross-platform</li>
                        </ul>
                </div>
                <!--<div class='legend-source'></div>-->
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-tasks fa-fw"></i> Choose Course
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search by title.." ng-model="course.title">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                        <br>
                            <ul dnd-list="courseList"
                                dnd-dragover="false">
                                <li ng-repeat="course in courseList | filter:course track by $index"
                                    dnd-draggable="course"
                                    dnd-type="course.os"
                                    dnd-disable-if="course.os == 'unknown'"
                                    dnd-selected="selected = course"
                                    dnd-dragstart="logEvent('Started to drag an item', course)"
                                    class="background-{{course.os}}" ng-show="$index < show">

                                    <div class="name">
                                        <div class="item">{{course.title}}  <em>({{course.department.id}})</em></div>
                                        <span class="pull-right text-muted small"><em>{{course.os}}</em></span>
                                        <span class="pull-left text-muted small"><em>{{course.duration}}min</em></span>
                                    </div>

                                </li>

                                <li class="dndPlaceholder">
                                    Drop any here
                                </li>
                            </ul>

                        <span class="pull-right text-muted small"><em>{{course.department}}</em> </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="panel-body">-->
    <!--<pre class="code">{{modelAsJson}}</pre>-->
<!--</div>-->


<!--<script>-->
    <!--alert("ale");-->
    <!--$(window).scroll(function(e){-->
        <!--var $el = $('.fixedElement');-->
        <!--var isPositionFixed = ($el.css('position') == 'fixed');-->
        <!--if ($(this).scrollTop() > 200 && !isPositionFixed){-->
            <!--$('.fixedElement').css({'position': 'fixed', 'top': '0px'});-->

        <!--}-->
        <!--if ($(this).scrollTop() < 200 && isPositionFixed)-->
        <!--{-->
            <!--$('.fixedElement').css({'position': 'static', 'top': '0px'});-->
        <!--}-->
    <!--});-->

<!--</script>-->
